@font-face {
  font-family: "HeavyDataNerdFont";
  src: url("../assets/fonts/HeavyData/HeavyDataNerdFont-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProFont";
  src: url("../assets/fonts/ProFont/ProFontIIxNerdFont-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --gutter: 16px;
}

body {
  scroll-behavior: smooth;
  /* min-height: 100vh; */
  max-width: 480px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 var(--gutter);
  --primary-background: #f5f5f9;
  --primary-text: #3d3846;
  background-color: var(--primary-background);
  color: var(--primary-text);
}

.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 var(--gutter);
}

body.dark-theme {
  --primary-background: #3d3846;
  --primary-text: #f5f5f9;
  background-color: var(--primary-background);
  color: var(--primary-text);
}

@media (prefers-color-scheme: dark) {
  body {
    --primary-background: #3d3846;
    --primary-text: #f5f5f9;
    background-color: var(--primary-background);
    color: var(--primary-text);
  }

  body.light-theme {
    --primary-background: #f5f5f9;
    --primary-text: #3d3846;
    background-color: var(--primary-background);
    color: var(--primary-text);
  }
}

a {
  color: var(--primary-text);
  padding: 0.2rem 0.4rem;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 4px;
  font-size: 1.2rem;
  list-style-type: none;
  font-family: "ProFont", sans-serif;
}

a:hover {
  background: #8f563b;
  /* background: radial-gradient(
    circle,
    rgba(163, 49, 26, 1) 0%,
    rgba(207, 134, 0, 1) 100%
  ); */
  border-radius: 0.4rem;

  color: #f5f5f9;
  box-shadow: #b57759 0px 0px 8px;
}

#active-nav-el {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #b57759;
}

.navbar a {
  text-decoration: none;
}

.blog-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  padding: 0.5rem;
}

.markdown-body {
  font-family: "ProFont", sans-serif;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

#blog-posts {
  list-style: none;
}

.blog-post {
  margin: 1rem 0rem;
}

footer {
  display: flex;
  width: 100%;
  max-width: 480px;
  margin: 0;
  padding: 0 var(--gutter);
}