body {
    --primary-background: #f5f5f9;
    --primary-text: #3d3846;
    background-color: var(--primary-background);
    color: var(--primary-text);
}

a {
    color: var(--primary-text)
}

.navbar {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    gap: 5px;
    list-style-type: none;
}
.navbar a {
    text-decoration: none;
}

main {
    /* background-color: aqua; */
}

@media (prefers-color-scheme: dark) {
    body {
    --primary-background: #3d3846;
    --primary-text: #f5f5f9;
    background-color: var(--primary-background);
    color: var(--primary-text);
    }
}